.container {
    height: 50vw;
    margin-left: 0;
    margin-right: 0;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    background-image: url(../images/waterbg.webp);
    background-position: center;
    background-size: cover;
}


.grid-square {
    background-color: transparent;
    border: 1px solid var(--bs-dark-border-subtle);
    height: 0;
    padding-bottom: 100%;
    border-radius: 10px;
}

/* turn this off after testing */
.ship {
    background-color: lightblue;
}

.selected {
    background-image: url(../images/splash.svg);
    /* background-color: white; */
}


.ship.selected {
    background-image: url(../images/shiphit.svg);
    /* background-color: red; */
}

.ship.ship-visible {
    background-image: url(../images/ship.svg);
    /* background-color: grey; */
    background-color: transparent;
}

.game-over {
    justify-self: center;
    text-align: center;
    color: white;
    font-size: larger;
    align-self: center;
}

.btncontainer {
    display: flex;
    justify-content: space-between;
}
