.board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    background-image: url(https://media.istockphoto.com/id/1136870172/photo/blue-sea-water-background-atlantic.webp?b=1&s=170667a&w=0&k=20&c=JsBTxVgUqpkZwLlTwsU2XWGGR6noHtWSVy7n3G813BU=);
    background-position: center;
    background-size: cover;
}


.grid-square {
    background-color: transparent;
    border: 1px solid lightgrey;
    height: 0;
    padding-bottom: 100%;
}

.ship.ship-visible {
    background-color: grey;
}

.selected {
    background-color: white;
}

.ship.selected {
    background-color: red;
}

/* turn this off after testing */
.ship {
    background-color: lightblue;
}

.game-over {
    justify-self: center;
    text-align: center;
    color: white;
    font-size: larger;
    align-self: center;
}