.panel {
    display: flex;
    flex-direction: row;
    justify-self: end;
}

.ships-container{
    width: 220px;
    min-width: 220px;
    height: 400px;
    background-color: var(--bs-dark);
    border: 3px solid var(--bs-secondary);
    margin: 20px;
    overflow-y: scroll;
    border-radius: 10px;
}

.submarine-container{
    border-radius: 5px;
    width: 120px;
    height: 40px;
    background-color: whitesmoke;
    display: flex;
    margin: 5px;
}

.submarine-container-vertical{
    border-radius: 5px;
    width: 40px;
    height: 120px;
    background-color: whitesmoke;
    display: flex;
    margin: 5px;
    flex-wrap: wrap;
}

.cruiser-container{
    border-radius: 5px;
    width: 120px;
    height: 40px;
    background-color: whitesmoke;
    display: flex;
    margin: 5px;
}

.cruiser-container-vertical{
    border-radius: 5px;
    width: 40px;
    height: 120px;
    background-color: whitesmoke;
    display: flex;
    margin: 5px;
    flex-wrap: wrap;
}

.battleship-container{
    border-radius: 5px;
    width: 160px;
    height: 40px;
    background-color: whitesmoke;
    display: flex;
    margin: 5px;
}

.battleship-container-vertical{
    border-radius: 5px;
    width: 40px;
    height: 160px;
    background-color: whitesmoke;
    display: flex;
    margin: 5px;
    flex-wrap: wrap;
}
.ship div{
    width: 40px;
    height: 40px;
}

